
.error {
  text-align: left;
  padding: 8px;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
  height: 300px;
  gap: 16px;
  margin: 0 24px;
}

.grid code {
  text-align: left;
  padding: 8px;
  border: 1px solid #ccc;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  border: 1px solid #ccc;
}